[submodule "client-holocore"]
	path = client-holocore
	url = ssh://git@bitbucket.org/projectswg/client-holocore.git
[submodule "PSWGCommon"]
	path = PSWGCommon
	url = git@bitbucket.org:projectswg/pswgcommon.git
[submodule "ClientHolocore"]
	path = ClientHolocore
	url = ssh://git@bitbucket.org/projectswg/client-holocore.git
